body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #fff;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}
.sidebar {
    width: 20%;
    background-color: #212121;
    height: 100vh;
    overflow-y: auto;
    padding: 10px;
}
.content {
    width: 80%;
    padding: 20px;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-container {
    margin: 0 auto;
}
.video-details {
    margin-top: 20px;
}
.video-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.video-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video-info span {
    color: #aaa;
}
.subscribe-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    text-decoration: none;
}
.subscribe-btn:hover {
    background-color: #ff3333;
    color: #fff;
    transform: scale(1.05);
}
.comments {
    margin-top: 20px;
}
.comment {
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
}
.comment-header {
    display: flex;
    justify-content: space-between;
}
.comment-body {
    margin-top: 10px;
}